.header-img
{
  background-image: url("https://www.cdc.gov/healthypets/images/covid/dog-and-cat.jpg?_=46111");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.header-text
{
  background-color: rgba(23, 45, 66, 0.4);
  height: 100%;
  font-family: 'Belanosima', Courier;
  color:#ffffff;
  /* height: 50%;
  width: 25%; */
  padding: 10% 1% 1% 1%;
  font-weight: bold;
  text-align: center;
}



/* CSS */
.button-74 {
  background-color: #ffffff;
  border: 2px solid rgba(38, 57, 80);
  border-radius: 30px;
  box-shadow: rgba(38, 57, 80) 4px 4px 0 0;
  color: rgba(38, 57, 80);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}


.underline-heading {
  position: relative;
  font-weight: bold; 
  display: inline-block;
}

.underline-heading::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 50%;
  height: 3px; 
  background-color: #ffffff;
}