#error-page
{
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/golden-retriever-royalty-free-image-506756303-1560962726.jpg?crop=1.00xw:0.756xh;0,0.0756xh&resize=1200:*');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#error-content
{
    background-color: rgba(23, 45, 66, 0.4);
    height: 95vh;
    color: white;
    font-family: 'Belanosima', Courier;
    padding: 15% 0 0 0;
    width:100%;
    
}