.postContentInput
{
    font-family:'Ysabeau Infant', Courier;

}

.newPostForm
{
    width: 40vw;
    margin: 10% 0 5% 5%;
}

h1
{
    font-family:'Belanosima', Courier;
}

h3, form
{
    font-family:'Ysabeau Infant', Courier;
}

