.formImg
{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.loginContainer
{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}